@import "./normalize.css";
@import "//at.alicdn.com/t/font_1616564_vmwezfcmx1q.css";

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* @media screen and (max-height: 900px) and (min-height: 100px)  {
  #app {
    height: 100%;
  }
  #app__wrapper {
    height: 100% !important;
  }
  #app__content {
    height: 39% !important;
  } 
  .player {
    top: calc(100% + 80px) !important;
  }
  #content {
    margin-bottom: 100px !important;
  }
}
@media screen and (max-height: 2000px) and (min-height: 1500px)  {
  #app {
    height: 40%;
  }
  #app__wrapper {
    height: 100% !important;
  }
  #app__content {
    height: 39% !important;
  }
  .player {
    top: calc(100% + 80px) !important;
  }
  #content {
    margin-bottom: 100px !important;
  }
} */
* > *:focus {
  outline: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/*:root -> 获取根元素html*/
:root {
  --color-text: #000;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
  --netease-default: #c62f2f;
  --netease-blue: #5bb8fc;
  --netease-yellow: #fde2a6;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "arial", "sans-serif","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none;
   /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  /* rem vw/vh */
  width: 100vw;
  height: 100vh;
}

body, html {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.page {
  /* margin: 5px 0 0 40px; */
  padding: 5px 40px 0;
  overflow-y: auto;
}
.page-inner {
  margin-top: 10px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}